.escenario {
    border: 1px solid black;
    width: 816px;
    margin: 0 auto;
    height: 768px;
    background-image: url(../images/fondo.jpg);
    background-position: 0px 0px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

#runner {
    position: absolute;
    bottom: 40px;
    left: 50px;
    
    
}

#score{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 150%;
}

.scoreboss{
    position: absolute;
    color: white;
    text-shadow: 2px 2px 2px red;
    font-size: 200%;
    top: 0;
    right: 5%;
}

.proyectil {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 40px;
    height: 10px;
    background-color: red;    
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 2px dotted black;
    transition: 0.25s;
}

.malo{
    width: 100px;
    height: 100px;
    background-image: url('https://art.pixilart.com/909f28ec737d033.png?v=1526669287');
    background-size: cover;
    position: absolute;
    bottom: 30px;
    right: 0px;
}   

.bosstarget{
    width: 100px;
    height: 100px;
    background-image: url('../images/hadou.png');
    background-size: cover;
    position: absolute;
    bottom: 30px;
    right: 0px;
}  

.gameover{
    position: absolute;
    width: 816px;
    height: 100%;
    background-color: rgba(255, 99, 71, 0.692); 
    text-shadow: 2px 2px 2px black;
    color: white; 
    z-index: 6;    
    text-align: center;
    padding-top: 50%;
    font-size: 500%;
    display: none;

}

.boss{
    width: 300px;
    height: 300px;        
    position: absolute;
    bottom: 30px;
    right: 0px;
} 

.boss img {
    display: block;
    width: 100%;
    height: auto;
} 